.container {
    width: 600px;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #F6FCFE;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.user_avt {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_name {
    font-family: 'Instagram Sans UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.dot {
    padding-left: 5px;
    padding-right: 5px;
}

.time_since_post {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 14px;
}

.post_caption {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: #06252d;
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word; /* hoặc overflow-wrap: break-word; */
    white-space: pre-wrap;
}

.post {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.post_image {
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
    width: auto;
    height: auto;
}

.actions {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    border-bottom: 1px solid #ddd;
}

.action {
    padding-right: 20px;
}

.comment {
    margin-top: 12px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.comment_user_avt {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment_input {
    width: 100%;
    padding: 8px 8px 8px 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
    resize: none;
    margin-right: 10px;
}

.comment_input:focus {
    outline: none;
    border-color: #4a90e2;
}

.comment_input::placeholder {
    color: #aaa;
}

.like_comment {
    font-size: .9375rem;
    line-height: 1.3333;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.comment_count{
    margin-left: auto;
}

.action:hover{
    cursor: pointer;
}

.comment_textarea {
    width: calc(100% - 16px); 
    border: none;
    border-bottom: 1px solid #ccc;
    padding-top: 5px; 
    outline: none; 
    resize: none; 
    margin-right: 8px;

}

.submit_button {
    display: none;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment_textarea:focus + .submit_button {
    display: block; /* Hiển thị nút gửi khi focus vào textarea */
}

.comment_area {
    width: calc(100% - 60px);
}
